<article class="post">
  <div class="title">
    <h2>{{title}}</h2>
    {{content}}
    <a href="/post{{id}}">
    </a>
  </div>
  <div class="meta">
    by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>