<article>
  <a href="/dashboard"> &larr; Back to Dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      <textarea name="post-body" type ="text">{{post.content}}</textarea>
    </div>
      {{post.user.username}} by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>

    <div class="edit-button">

    
    <button type="submit">Save Post</button>
    <button type="button" class="delete-btn">Delete Post</button>
    </div>

  </form>

  <form class="comment-area">
    <div>
      <textarea name="comment-body"></textarea>
    </div>

    <div>
      <button type="submit">Add Comment</button>
    </div>
  </form>
</article>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>